name: Build and Deploy to Static Web App

on:
  push:
    branches: [main]

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Deploy to Static Web App
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          action: 'upload'
          app_location: '/'
          output_location: 'dist'
          skip_app_build: false
        env:
          VITE_N8N_FORM_WEBHOOK_URL: ${{ secrets.VITE_N8N_FORM_WEBHOOK_URL }}
          VITE_N8N_CHAT_WEBHOOK_URL: ${{ secrets.VITE_N8N_CHAT_WEBHOOK_URL }}
          VITE_N8N_WEBHOOK_URL: ${{ secrets.VITE_N8N_WEBHOOK_URL }}
          VITE_DATABRICKS_TOKEN: ${{ secrets.VITE_DATABRICKS_TOKEN }}
          VITE_DATABRICKS_HOST: ${{ secrets.VITE_DATABRICKS_HOST }}
          VITE_DATABRICKS_VOLUME_PATH: ${{ secrets.VITE_DATABRICKS_VOLUME_PATH }}
